NET "NMIN" LOC = "P36";
NET "RD" LOC = "P34";
NET "WR" LOC = "P32";
NET "MREQ" LOC = "P37";
NET "IORQ" LOC = "P31";
NET "RFSH" LOC = "P30";
NET "RAMA7" LOC = "P7";
NET "A6" LOC = "P12";
NET "A7" LOC = "P8";
NET "A14" LOC = "P19";
NET "A15" LOC = "P18";
NET "NMI" LOC = "P38";
NET "IOR" LOC = "P21";
NET "IOW" LOC = "P20";
NET "MEMR" LOC = "P23";
NET "MEMW" LOC = "P22";
NET "CSR" LOC = "P42";
NET "CSW" LOC = "P40";
NET "CE89" LOC = "P43";
NET "CSSRAM" LOC = "P14";
NET "CEROM2" LOC = "P13";
NET "CAS1" LOC = "P1";
NET "RAS1" LOC = "P5";
NET "CAS2" LOC = "P44";
NET "RAS2" LOC = "P3";
NET "MUX" LOC = "P6";
